.admin-view-boat {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    font-family: Arial, sans-serif;
    margin: 50px;
  }
  
  .admin-view-boat h1 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .admin-view-boat table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .admin-view-boat th,
  .admin-view-boat td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
  }
  
  .admin-view-boat th {
    background-color: #f2f2f2;
  }
  
  .admin-view-boat tr:nth-child(even) {
    background-color: #f9f9f9;
  }
  
  .admin-view-boat tr:hover {
    background-color: #f2f2f2;
  }
  